body {
    background-image: url('https://vignette.wikia.nocookie.net/age-of-chivalry/images/5/50/Wiki-background/revision/latest/scale-to-width-down/1024?cb=20121114105612');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Cinzel Decorative', cursive;
}